name: crypto_list
description: "Тестовое задание список криптовалют"

version: 1.0.0+1

environment:
  sdk: ^3.6.0

dependencies:
  flutter:
    sdk: flutter
  dio: ^5.9.1
  bloc: ^9.2.0
  flutter_bloc: ^9.1.1
  equatable: ^2.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true